.navLink {
    font-size: 30px;
    color: rgb(21, 113, 56);
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

.navLink:hover {
    text-decoration: underline;
}